body {
    background: #f39c12;
}

.container {
    width: 415px;
    margin: 20px auto;
    background:  rgb(182, 71, 7);  
}

.dropdown {
    width: 406px;
    border: 2px solid rgb(26, 27, 26);
    padding: 2px;
    font-size: 14;
}

.dropdown__input {
    width: 360px;
    box-sizing: border-box;
    height: 44px;
    font-size: 22px;
    border: 2px solid rgb(26, 27, 26);
    background: rgb(238, 236, 235);
}

.dropdown__button {
    display: inline-block;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    background: url('../img/btn.png') no-repeat 40% 40%;
    background-size: cover;
    border: 2px solid rgb(26, 27, 26);
    vertical-align: top;
    margin-left: 2px;
    cursor: pointer;
}

.dropdown__select {
    width: 100%;
    font-size: 20px;
    background: rgb(211, 208, 206);

}

.dropdown__select--hidden {
    display: none;
}
